* {
  --text-secondary-color: #69C5F1;
  --accent-color: #F2CD2F;
  font-family: 'Merriweather', serif;
}

/* START NAVBAR STYLES */
.Nav {
  height: 80px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.Nav-logo {
  height: 100%;
}

.Nav-options {
  display: flex;
  padding-left: 0;
}

.Nav-options li {
  list-style-type: none;
  margin-left: 22px;
}

.Nav-options li a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: bold;
  font-size: 18px;
}

/* END NAVBAR STYLES */

.Bullet-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.u-Circle {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.u-Circle.is-yellow {
  background-color: var(--accent-color);
}

.u-Circle.is-green {
  background-color: greenyellow;
}

.Bullet-text {
  margin-left: 4px;
  font-size: 14px;
  color: gray;
}

.Container {
  margin: 32px 16px;
  display: flex;
}

.Post {
  width: 60%;
}

.Post-base {
  padding-right: 16px;
}

.Post-base h2 {
  margin: 8px 0;
  font-size: 24px;
}

.Post-by {
  color: gray;
  font-size: 14px;
}

.Post-name {
  color: orange;
}

.Post-base p {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.Post-base a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 32px;
  display: inline-block;
}

.Image {
  width: 40%;
}

.Image-small-screen {
  display: none;
}

.Image-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.Image-container:hover .Image-backward {
  transform: rotate(5deg) translate(40%, -20%);
}

.Image-forward {
  background-color: var(--accent-color);
  height: 80%;
  width: 80%;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 0 12px;
}

.Image-forward h3 {
  color: white;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 8px;
}

.Image-forward span {
  font-weight: bold;
  font-size: 14px;
}

.Image-forward .Image-logo {
  width: 20%;
  height: 20%;
  background: #F1E434;
  position: absolute;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image-forward .Image-logo P {
  color: white;
  font-size: 48px;
}

.Image-backward {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .3);
  position: absolute;
  height: 80%;
  width: 70%;
  bottom: 0;
  z-index: -1;
  transition: .3s;
  padding: 0 12px;
  overflow: hidden;
}

.Image a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-secondary-color);
  font-size: 14px;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 32px;
}

@media all and (max-width: 1200px) {
  .Image-container {
    display: none;
  }

  .Image-small-screen {
    display: inline-block;
    max-width: 100%;
  }
}

@media all and (max-width: 720px) {
  .Nav {
    margin: 0;
  }

  .Nav-options {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .Container {
    flex-direction: column;
  }

  .Post {
    width: 100%;
  }

  .Image {
    width: 100%;
  }

  .Image-container {
    display: none;
  }

  .Image-container-static {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Image-small-screen {
    display: inline-block;
    max-width: 100%;
  }
}

@media all and (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
}